.choose
  text-align: center
  +padding-top(2)

.choose__title
  +heading-font-family
  +font-size(gamma)
  color: $secondary-color

.choose__subtitle
  +heading-font-family
  color: $secondary-color
  +font-size(18px)

.choose__actions > *
  +heading-font-family
  background-color: $light-bg-color
  +margin-right(1)

.choose__easy
  color: $green-color

.choose__medium
  color: $orange-color

.choose__hard
  color: $red-color
