.puzzle-item
  +size(124px)
  display: inline-block
  position: relative
  +margin(.2)

.puzzle-item__number
  +heading-font-family
  +font-size(beta)
  line-height: 1
  +size(24px)
  margin: auto
  color: white
  +position(absolute, 0px 0px 0px 0px)
